@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

:root {
  --prim-color: #fca61f;
  --secondary-color: #6f34fe;
  --third-color: #56cbbd;
  --forth-color: #3f396d;
  --white-color: #fff;
  --black-color: #000;

  --Winky-font: "Winky Sans", sans-serif;
  --Josefin-font: "Josefin Sans", sans-serif;

  --trasition-regualar: 0.3s;
  --transition-slow: 0.6s;
}

html,
body {
  overflow-x: hidden;
}
.navbar {
  background-color: #f4f7fe;
  padding: 15px 0;
}
.line {
  text-decoration: none;
  color: #fff;
}
.logo a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-color);
  font-family: var(--Winky-font);
}

.logo a span {
  font-family: var(--Winky-font);
  color: var(--prim-color) !important;
}

.navbar-nav .nav-link {
  font-size: 16px;
  color: var(--forth-color);
  font-weight: 600;
  font-family: var(--Josefin-font);
}

.navbar-nav .nav-link.active {
  color: var(--prim-color) !important;
}

.navbar-nav .nav-item:hover .nav-link {
  color: var(--prim-color) !important;
}

.nav-btn {
  background-color: var(--prim-color);
  color: var(--white-color) !important;
  border-radius: 25px;
  padding: 10px 30px;
  transition: var(--trasition-regualar);
}

.btn {
  background-color: var(--prim-color) !important;
  transition: var(--trasition-regualar);
}

.btn:hover {
  background-color: var(--secondary-color) !important;
  transform: translateY(-5px);
}

/* Header Section */
.header {
  width: 100%;
  height: 90vh !important;
  padding-top: 6%;
  background-color: #f0f4ff;
  overflow: hidden;
}

.header-content h2 {
  font-family: var(--Josefin-font);
  font-size: 2rem;
  font-weight: 500;
  color: var(--forth-color);
}

.header-content .text {
  font-family: var(--Josefin-font);
  font-size: 4.5rem;
  list-style: 4.5rem;
  height: 70px;
  color: var(--secondary-color);
  font-weight: 700;
}

.header-content p {
  font-family: var(--Josefin-font);
  color: var(--forth-color);
  margin-top: 10px;
  font-size: 1.2rem;
  width: 80%;
}

.hero-btn .hire-btn {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-family: var(--Josefin-font);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white-color);
}

.hero-btn .work-link {
  font-family: var(--Josefin-font);
  background-color: transparent !important;
  font-size: 1.2rem;
  padding-bottom: 5px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: var(--trasition-regualar);
}

.hero-btn .work-link:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--prim-color);
}

.hero-btn .work-link:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 2px;
  z-index: 1;
  background-color: var(--secondary-color) !important;
  transition: var(--trasition-regualar);
}

.hero-btn .work-link:hover {
  color: var(--prim-color) !important;
}

.hero-btn .work-link:hover::before {
  width: 0 !important;
}

.hero-card-box {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 15px 30px;
}

.hero-card-box h2 {
  font-family: var(--Josefin-font);
  font-size: 1.3rem;
}

.hero-card-box2 {
  top: 30%;
  left: 90%;
}
.hero-card-box2 h3 {
  font-size: 1.5rem;
  font-family: var(--Josefin-font);
  line-height: 1.2rem;
}

.hero-card-box2 h2 {
  color: #313131;
  font-weight: 200 !important;
}

.hero-social {
  top: 38%;
  left: -6%;
  transform: translate(-50%, -50%);
}

.hero-social i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--white-color);
  font-size: 1.3rem;
  transition: var(--trasition-regualar);
}

.hero-social i:hover {
  color: var(--white-color) !important;
  transform: translateY(-5px);
  cursor: pointer;
}

.hero-social i:nth-child(1) {
  color: #255afc;
}
.hero-social i:nth-child(1):hover {
  background-color: #255afc;
}
.hero-social i:nth-child(2) {
  color: #f33a7e;
}
.hero-social i:nth-child(2):hover {
  background-color: #f33a7e;
}
.hero-social i:nth-child(3) {
  color: #1d74b1;
}
.hero-social i:nth-child(3):hover {
  background-color: #1d74b1;
}

.hero-shape {
  top: 20%;
  left: 50%;
  animation: anim-top-down 1.6s infinite forwards linear;
}

.hero-shape2 {
  top: 10%;
  left: 100%;
  animation-delay: 0.3s;
}

.hero-shape3 {
  top: 70%;
  left: 100%;
  animation-delay: 0.3s;
  animation: anim-left-right 1.6s infinite forwards linear;
}

.header-image img {
  animation: anim-LR 3s infinite forwards linear;
}

/* ANIMATIONS */

@keyframes anim-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes anim-top-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes anim-LR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

.ServiceCard {
  transition: var(--trasition-regualar) ease-in-out;
  cursor: pointer;
}

.ServiceCard:hover {
  border: 1px solid var(--secondary-color) !important;
  transform: rotate(-1deg);
}

.ServiceCard h5,
.ServiceCard p {
  font-family: var(--Josefin-font) !important;
}

.ServiceCard a {
  font-family: var(--Josefin-font);
  text-decoration: none;
  font-weight: 500;
}

.ServiceCard img {
  transition: transform 0.3s ease-in-out;
}

.ServiceCard:hover img {
  transform: translateY(-10px);
}

.Service {
  position: relative;
}

.circleright {
  position: absolute;
  top: 15%;
  left: -5%;
  animation: anim-left-right 2s infinite linear;
}

.halfcircle {
  position: absolute;
  top: 15%;
  left: 10%;
  animation: anim-top-down 5s infinite linear;
}

.curn {
  position: absolute;
  top: 85%;
  right: 7%;
  animation: anim-top-down 5s infinite linear;
}

.section-title h2 {
  font-family: var(--Josefin-font) !important;
  font-size: 3rem;
}

.section-title h6 {
  font-size: 1.2rem;
  font-family: var(--Josefin-font) !important;
}

/* SKILLS SECTION */
.skills {
  background-color: #f0f4ff;
}

.skills-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.progress-circle {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
}

.progress-circle text {
  font-size: 22px;
  text-anchor: middle;
  font-weight: bold;
  dominant-baseline: middle;
}

.skills-card p {
  font-family: var(--Josefin-font);
  font-size: 1.1rem;
  margin-top: 10px;
}

.skills-btn {
  background-color: var(--prim-color) !important;
  font-family: var(--Josefin-font);
  color: var(--white-color) !important;
  border-radius: 30px;
  padding: 10px 20px;
}

.skills-title h2 {
  font-size: 4rem !important;
}

.skills-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

/* PORTFOLIO SECTION */
.portfolio-btn {
  width: auto;
  height: 40px;
  border: none;
  font-size: 1.1rem;
  background-color: transparent;
  font-weight: 600 !important;
  font-family: var(--Josefin-font) !important;
  color: var(--white-color) !important;
}

#portfoliobtn.active-btn {
  border-bottom: 4px solid #fca61f !important;
  color: #fca61f !important;
}

.portfolio-top {
  height: 350px;
  background: #6f34fe;
  width: 100%;
  padding-top: 80px;
  position: relative;
}

.portfolio-top:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-image: url(assets/portfolio-left-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.portfolio-top:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  width: 300px;
  height: 300px;
  background-image: url(assets/portfolio-left-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

.portfolio-image {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
}

.portfolio-image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    100deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 19, 43, 0.676) 70%
  );
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
  opacity: 0;
  transition: var(--trasition-regualar);
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.portfolio-img-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 9 !important;
  opacity: 0;
  color: var(--white-color);
}

.portfolio-info h4 {
  font-size: 1.1rem;
  font-weight: 800;
  font-family: var(--Josefin-font);
}

.portfolio-info p {
  font-size: 0.9rem;
}

.portfolio-img-title i {
  background-color: var(--prim-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.portfolio-image:hover .portfolio-img-title {
  opacity: 1;
}

.portfolio-image:hover::before {
  opacity: 1;
}

/* TESTIMONIAL SECTION */
.testimonial {
  margin-top: 46% !important;
}

.test-banner img {
  transition: var(--transition-slow);
}

.test-banner:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.test-card h5,
.test-card h2,
.test-info p {
  font-family: var(--Josefin-font);
}

.test-card h5 {
  color: var(--secondary-color);
}

.test-card h2 {
  font-size: 3rem;
  font-family: var(--Josefin-font);
  font-weight: 700;
}

.test-card-pere img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.test-card-pere p {
  font-family: var(--Josefin-font);
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #6b6b6b;
}

.test-info h3 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin: 0;
}

.test-info p {
  color: #6b6b6b;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none !important;
}

.swiper-button-prev i,
.swiper-button-next i {
  position: absolute;
  top: 200px !important;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: var(--prim-color) !important;
  color: var(--white-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 15px;
  font-size: 1.5rem !important;
  width: 60px !important;
  height: 60px !important;
  transition: var(--trasition-regualar);
}

.swiper-button-next i {
  left: -500px;
}

.swiper-button-next i:hover,
.swiper-button-prev i:hover {
  background-color: var(--secondary-color) !important;
  color: var(--white-color) !important;
}

.test-shape1,
.test-shape2 {
  top: 0 !important;
  left: 0 !important;
}

.test-shape1 {
  left: -2% !important;
  animation: anim-LR 2s infinite linear;
}

.test-shape2 {
  left: 6% !important;
  animation: anim-top-down 2s infinite linear;
}

/* BLOG SECTION */
.blog {
  background-color: #f2f2f2;
}

.blog-card {
  background-color: var(--white-color);
  border-radius: 20px !important;
}

.blog-card img {
  transition: var(--trasition-regualar);
}

.blog-card:hover img {
  transform: scale(1.1);
}

.blog-content div a {
  text-decoration: none;
  color: var(--secondary-color) !important;
}

.blog-content .card-title {
  font-family: var(--Josefin-font);
  font-size: 2rem;
  position: relative;
  border-bottom: 10px;
  transition: var(--trasition-regualar);
  cursor: pointer;
}

.blog-content .card-title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: var(--trasition-regualar);
}

.blog-content .card-title:hover {
  color: var(--prim-color);
}

.blog-content .card-title:hover:after {
  width: 100%;
}

.blog-content p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.blog-content a {
  text-decoration: none;
  color: var(--prim-color);
  font-size: 1.2rem;
  transition: var(--trasition-regualar);
  position: relative;
}

.blog-content a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: var(--trasition-regualar);
}

.blog-content a:hover {
  color: var(--secondary-color) !important;
}

.blog-content a:hover:after {
  width: 100%;
}

.blog-shape1 {
  left: 88%;
  top: 10%;
  animation: anim-top-down 2s infinite linear;
}
.blog-shape2 {
  left: 2%;
  top: 84%;
  animation: anim-top-down 2s infinite linear;
}
.blog-shape3 {
  left: 95%;
  top: 34%;
  animation: anim-left-right 2s infinite linear;
}

/* CONTACT SECTION */
.contact-card {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 30px;
  border-radius: 15px;
}

.contact-card i {
  font-size: 30px;
  background-color: var(--prim-color);
  color: var(--white-color);
  padding: 10px;
  border-radius: 50%;
}

.contact-info h5 {
  font-family: var(--Josefin-font);
}

.contact-info p {
  font-family: var(--Josefin-font);
  font-size: 15px;
}

.contact-box {
  cursor: pointer;
}

.contact-box:hover i {
  background-color: var(--white-color);
  color: var(--black-color);
}

.contact-form {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 15px;
}

.contact-form input {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  width: 100% !important;
}

.btn-submit {
  background-color: var(--prim-color);
  font-family: var(--Josefin-font);
  font-size: 1.3rem;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  color: var(--white-color);
  margin-top: 15px;
}

.contact-shape {
  top: 80% !important;
  left: 85%;
  animation: anim-top-down 2s infinite linear;
}

.footer {
  background-color: #211e39;
  padding: 40px 0;
  text-align: center;
}

.footer-nav {
  margin: 20px 0;
  color: #7d7d7d;
}

.footer-nav a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

.footer-nav a:hover {
  color: var(--prim-color);
}

.footer-bottom {
  margin-top: 20px;
  color: #999;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-bottom a {
  color: var(--prim-color);
  text-decoration: none;
  font-weight: 600;
}

/* MQ SECTION */
@media (max-width-1399px) {
  .hero-social {
    top: 35%;
    left: -0%;
  }
  .hero-card-box2 {
    left: 85%;
  }
  .skills-title h2 {
    font-size: 3rem !important;
  }
  .testimonial {
    margin-top: 80% !important;
  }
  .test-card h2 {
    font-size: 2.5rem;
  }
  .swiper-button-next {
    left: -450px !important;
  }
}

@media (max-width: 1199px) {
  .testimonial {
    margin-top: 58% !important;
  }
  .test-card h2 {
    font-size: 2rem;
  }
  .swiper-button-next i,
  .swiper-button-prev i {
    top: 230px;
  }
  .swiper-button-next i {
    left: -350px;
  }

  .blog-content .card-title {
    font-size: 1.5rem;
  }

  .blog-shape2 {
    left: 5% !important;
  }
}

@media (max-width: 991px) {
  .header {
    height: 100% !important;
    padding-top: 15%;
  }
  .header-image-wrap {
    margin-top: 50px;
  }
  .hero-social {
    top: 3%;
    left: -10%;
  }
  .hero-shape1 {
    top: 50%;
    left: 0;
  }
  .hero-shape2 {
    top: 38%;
  }
  .hero-shape3 {
    top: 75%;
  }
  .ServiceCard {
    width: 100%;
  }

  .portfolio-image img {
    object-fit: contain;
  }
  .portfolio-hide {
    display: none;
  }
  .testimonial {
    margin-top: 70% !important;
  }
  .test-banner img{
    margin-top: 32px;
  }
  .test-wrapper {
    margin-top: 8%;
    left: 12%;
    margin-bottom: 10%;
  }
  .test-card h2 {
    font-size: 2.5rem;
  }
  .swiper-button-next i {
    left: 90%;
  }
}

@media (max-width: 767px) {
  .testimonial {
    margin-top: 180% !important;
  }

  .swiper-button-next i,
  .swiper-button-prev i {
    top: 230px !important;
  }

  .swiper-button-next i {
    left: -400px !important;
  }
  .blog-shape3 {
    display: none;
  }
}

@media (max-width: 575px) {
  html,
  body {
    overflow-x: hidden !important;
  }

  .header {
    padding-top: 20%;
    height: 100% !important;
  }
  .hero-card-box {
    display: none !important;
  }
  .hero-shape1 {
    left: 5%;
  }
  .hero-shape2 {
    left: 80%;
    top: 30%;
  }
  .hero-shape3 {
    left: 20%;
    top: 35%;
  }

  .circleright {
    display: none;
  }
  .halfcircle {
    top: 6%;
    left: 7%;
  }
  .testimonial {
    margin-top: 240% !important;
  }
  .test-shape1 {
    display: none;
  }

  .swiper-button-next i,
  .swiper-button-prev i {
    top: 230px !important;
    left: 50px;
  }
  .swiper-button-next i {
    left: -140% !important;
  }
  .blog-shape1,
  .blog-shape2 {
    top: 3% !important;
  }
}

.hero-social > a {
  text-decoration: none;
}
